.requestsContainer {
  width: 100%;
  /* width: 100vw; */
  /* height: 100vw; */
}

.requestItemsContainer {
  overflow: auto;
  height: 430px;
}

/* .requestsOuterContainer a {
  text-decoration: none;
  color: white;
}

.requestsOuterContainer a:hover {
  color: #2fba64;
} */

/* .requestsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.dataContainer {
  height: 460px;
  max-height: 460px;
  min-height: 260px;
  width: 800px;
  max-width: 800px;
  padding: 15px;
  margin-top: 20px;
}

.dataContainer a {
  color: #28738f;
}

.submitButton {
  margin-top: 20px;
}

.registerNow {
  text-decoration: none;
}
 */
