.registerOuterContainer {
  width: 100vw;
}

.registerOuterContainer a {
  text-decoration: none;
  color: white;
}

.registerOuterContainer a:hover {
  color: #2fba64;
}

.registerContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  color: white;
  height: 650px;
  max-height: 650px;
  overflow: auto;
}

.dataContainer {
  height: 505x;
  max-height: 505px;
  width: 300px;
  max-width: 300px;
  padding: 15px;
}

.dataContainer a {
  color: #28738f;
}

.submitButton {
  margin-top: 20px;
}

.logInNow {
  text-decoration: none;
}
