.loginOuterContainer {
  width: 100vw;
}

.loginOuterContainer a {
  text-decoration: none;
  color: white;
}

.loginOuterContainer a:hover {
  color: #2fba64;
}

.loginContainer {
  display: flex;
  /*  justify-content: center; */
  align-items: center;
  flex-direction: column;
  color: white;
}

.dataContainer {
  height: 260px;
  max-height: 260px;
  width: 300px;
  max-width: 300px;
  padding: 15px;
}

.dataContainer a {
  color: #28738f;
}

.submitButton {
  margin-top: 20px;
}

.registerNow {
  text-decoration: none;
}
