.reviewContainer {
  width: 100%;
}

/* .requestsOuterContainer a {
  text-decoration: none;
  color: white;
}

.requestsOuterContainer a:hover {
  color: #2fba64;
}

.requestsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.dataContainer {
  height: 260px;
  max-height: 260px;
  width: 800px;
  max-width: 800px;
  padding: 15px;
}

.dataContainer a {
  color: #28738f;
}

.submitButton {
  margin-top: 20px;
}

.registerNow {
  text-decoration: none;
}
 */
