.roleSelectorContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
  /* color: white;
    height: 650px;
    max-height: 650px;
    overflow: auto; */
}

.dataContainer {
  height: 200px;
  max-height: 200px;
  width: 350px;
  max-width: 350px;
  padding: 15px;
}
